/* @media */


/* mobail */

@media(max-width:768px){

.desctop-only{
  display: none !important;
}

.container {
  width: 320px;
}

.nav-list{
  display: none;
}

.btn-nav{
  display: block;
}

.promo{

  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
  padding-top: 40px;
  text-align: center;
}

.prormo-title {
    font-size: 34px;
    margin-bottom: 0px;
}

.prormo-text {
    font-size: 14px;
}

.content-row{
  flex-direction: column;
  row-gap: 20px;
}

.content-img{
  flex-basis: 120px;
}

.title-1{
  font-size: 28px;
}

.main-content {

    padding: 40px 0 40px 0;
    row-gap: 40px;
}

.content-none-revers-on-column{

  flex-direction: column !important;

}
/* inner page */
.inner-page{
  padding: 40px 0 40px 0;
}

.inner-page-title-wrapper{

  margin-bottom: 40px;
}

.cards-wrapper{
  row-gap: 20px;
}

.card{
  width: 290px;
}

.card-desc p{
  font-size: 14px;
}

/* container.container-small */

.container.container-small{
  width: 320px;
}

.article-content p{
  font-size: 14px;
}

.article-content p+p{
  margin-top: 14px;
}

.article-img{

  margin: 20px 0;

}
  
}